# 리스트와 튜플

## 리스트

In [1]:
l1 = []
l1

[]

In [2]:
l3 = [1,3,5,7,9]
l3

[1, 3, 5, 7, 9]

In [3]:
l4 = list(range(1,100,2))
l4

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## 튜플

튜플 함수를 이용해서 튜플 생성 : 튜플명 = tuple(range(시작값, 끝값, 간격))

In [4]:
t1 = ()
t1

()

In [5]:
t2 = tuple()
t2

()

In [6]:
t3 = (1,3,5,7,9)
t3

(1, 3, 5, 7, 9)

In [7]:
t4 = tuple(range(1,10,2))
t4

(1, 3, 5, 7, 9)

In [8]:
t5 = 1,3,5,7,9
t5

(1, 3, 5, 7, 9)

In [9]:
t6 = (1,)
t6

(1,)

만약 t6 = (1) 이라고 하면
튜플이 아닌 그냥 정수타입이 된다.

## 리스트, 튜플 항목의 자료형

In [10]:
myinfo = ['amy', 20, 165.5, ['독서', '코딩']]
myinfo

['amy', 20, 165.5, ['독서', '코딩']]

## 리스트와 튜플 연결하기

In [11]:
l1 = ['apple', 'strawberry', 'grape']
l2 = ['grape', 'melon']

l1+l2

['apple', 'strawberry', 'grape', 'grape', 'melon']

## 리스트와 튜플 반복하기

In [12]:
l = ['먹고', '자고']
l * 3

['먹고', '자고', '먹고', '자고', '먹고', '자고']

## 리스트, 튜플에 값 존재여부 확인

멤버연산자 : in, not in

In [13]:
l = [1,2,3,4,5]
print(5 in l)
print(10 in l)

print(5 not in l)

True
False
False

## 리스트, 튜플 항목의 갯수 구하기

len(리스트명)  
len(튜플명)

In [14]:
l = [1,2,3,4,5]
len(l)

5

# 인덱싱과 슬라이싱

In [15]:
l1 = [1,3,6,8,9,6]

In [17]:
print(l1[0])
print(l1[-3])

1
8

In [19]:
l2 = ['사과', '오랜지', '포도',['수박','바나나']]

In [20]:
l2[3][0]

'수박'

## 인덱스로 슬라이스 하기

리스트명[시작인덱스:끝인덱스:간격]  
마자막 인덱스는 포함하지 않는다

In [21]:
l2 = ['사과', '오랜지', '포도',['수박','바나나']]
l2[0:2]

['사과', '오랜지']

In [22]:
#모든항목 역순으로
l2[::-1]

[['수박', '바나나'], '포도', '오랜지', '사과']

### 항목의 인덱스 찾기

In [23]:
l2.index('사과')

0

# 리스트 변경하기

## 리스트 끝에 항목 추가하기

In [25]:
todolist = ['brushteeth', 'drinkwater']
todolist.append('jogging')
todolist

['brushteeth', 'drinkwater', 'jogging']

## 리스트 중간에 항목 삽입하기

In [28]:
todolist.insert(2,'breakfast')
todolist

['brushteeth', 'drinkwater', 'breakfast', 'breakfast', 'jogging']

## 리스트 끝에 여러항목 추가하기

In [29]:
todolist.extend(['shower', 'dry','study'])
todolist

['brushteeth',
 'drinkwater',
 'breakfast',
 'breakfast',
 'jogging',
 'shower',
 'dry',
 'study']

## 리스트의 항목 수정하기

* 리스트명[index] = item
* 리스트명[시작인덱스:끝인덱스] = 리스트

In [30]:
todolist[3] = 'takeawalk'
todolist

['brushteeth',
 'drinkwater',
 'breakfast',
 'takeawalk',
 'jogging',
 'shower',
 'dry',
 'study']

In [31]:
todolist[2:4] = ['reading','takeawalk', 'breakfast']
todolist

['brushteeth',
 'drinkwater',
 'reading',
 'takeawalk',
 'breakfast',
 'jogging',
 'shower',
 'dry',
 'study']

* del 리스트명[index]
* 리스트.remove[항목]
* 리스트.pop()

In [33]:
del todolist[-1]
todolist

['brushteeth',
 'drinkwater',
 'reading',
 'takeawalk',
 'breakfast',
 'jogging',
 'shower']

In [34]:
todolist.remove('shower')
todolist

['brushteeth', 'drinkwater', 'reading', 'takeawalk', 'breakfast', 'jogging']

In [38]:
a = todolist.pop()
a
todolist

['brushteeth', 'drinkwater', 'reading', 'takeawalk']

In [45]:
wishlist = ['bag','watch','shoes']
mycart = []


mycart.extend(wishlist[1:3])
mycart

del wishlist[1:3]

wishlist

['bag']

# 리스트 다양하게 활용하기

In [46]:
l = [1,2,3,4,5,6,7,8]
print('항목수 :', len(l))
print('합계:', sum(l))
print('최소값 :', min(l))
print('최대값 :', max(l))
print('평균 :',sum(l)/len(l))
print('항목5의 갯수 :',l.count(5))
# min과 max는 항목의 타입이 혼합되어 있을때는 사용할 수 없다.

항목수 : 8
합계: 36
최소값 : 1
최대값 : 8
평균 : 4.5
항목5의 갯수 : 1

## 리스트 정렬하기

### 원본리스트 정렬
* 리스트명.sort()
(원본은 저장되지 않음)
* 리스트명.sort(reverse=True) : 내림차순

In [48]:
fruit = ['strawberry','tomato','melon','grape']
fruit.sort()
fruit

['grape', 'melon', 'strawberry', 'tomato']

### 복사본 만들어서 정렬
* sorted(리스트명)
* sorted(리스트명, reverse=True) : 내림차순

In [50]:
fruit = ['strawberry','tomato','melon','grape']
sorted_fruit = sorted(fruit)
sorted_fruit

['grape', 'melon', 'strawberry', 'tomato']

In [51]:
fruit

['strawberry', 'tomato', 'melon', 'grape']

## 2차원리스트 다루기

In [54]:
l2 = ([10,20,30],[40,50,60])

print(l2[0][2])

30