# if

## if~else

In [2]:
score = int(input('점수 : '))
if score>=60:
    print('accept')
else:
    print('not accept')

점수 : 30
not accept

## if ~ elif ~ else

In [6]:
score = int(input('점수 : '))
if score>=90:
    grade='a'
elif score>=80:
    grade='b'
elif score>=70:
    grade='c'
elif score>=60:
    grade='d'
else:
    grade='e'
    
print('grade:', grade)

점수 : 60
grade: d

b등급 이하를 표기할 때 80~89사이라는 조건문을 쓰지 않고 80이상이라는 하나의 조건문만 써도 등급 분별이 되는 이유 : 
if 문 특성상 위에서 조건이 충족하면 아래의 조건문은 확인하지 않기 때문에 등급의 하한선만 조건문으로 내세워도 등급 표기가 가능하다.

In [10]:
num = int(input('정수 : '))
if num%2==1:
    print('odd')
elif num == 0:
    print('0')
else:
    print('even')

정수 : 4
even

# 반복구조

## for 문

In [11]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [12]:
for i in 'python':
    print(i)

p
y
t
h
o
n

### range()

range(5)     => 0,1,2,3,4  
range(1,5)   => 1,2,3,4  
range(1,5,2) => 1,3

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

### 중첩반복구조

In [14]:
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [26]:

for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}',end='\t')
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [28]:

for i in range(1,10):
    for j in range(2,10):
        print(f'{j}*{i}={j*i}',end='\t')
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [31]:
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [33]:
sum=0
for i in range(1,101):
    if i%2 == 1: 
        sum+=i
print(sum)

2500

## while문

In [11]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [34]:
n = 1 # 변수 초기화
while n<=5: # 조건문
    print(n)
    n+=1 # 무한반복을 피하기 위해

1
2
3
4
5

In [38]:
sum = 0
n = 1
while n<=10:
    sum+=n
    n+=1
print(sum)

55

### while문만 사용 가능한 경우

횟수가 정해져 있지 않을때

In [ ]:
name = 'a'
while name!='q':
    name = input('alphabet : ')

In [ ]:
while True:
    name = input('name : ')
    if name == 'q':
        break

In [3]:
id = ''
password = ''
while id!='q' and password != '1234':
    id = input('id : ')
    password = input('password : ')
    if id != 'q':
        print('check your id')
    if password != '1234':
        print('check your password')

id : ㄴ
password : 23
check your id
check your password
id : ㅎ
password : 34
check your id
check your password
id : q
password : 1234

In [5]:
total = 0
num = 1
while num != 0:
    num = int(input('숫자를 입력하세요 : '))
    total +=num
print(total)

숫자를 입력하세요 : 1
숫자를 입력하세요 : 2
숫자를 입력하세요 : 3
숫자를 입력하세요 : 4
숫자를 입력하세요 : 5
숫자를 입력하세요 : 0
15

# 알고리즘 연습하기

In [10]:
import random
answer = random.randrange(1,101)

input_answer = 0
times = 0
while answer != input_answer:
    times +=1
    if times>5:
        print(f'횟수초과 정답은 {answer}')
        break
        
    input_answer = int(input('1~100 숫자를 입력하세요 : '))

    if input_answer>answer:
        print('DOWN')
    elif input_answer<answer:
        print('UP')
    else:
        print('CORRECT!')
        print(f'시도횟수 : {times}')

1~100 숫자를 입력하세요 : 50
UP
1~100 숫자를 입력하세요 : 75
DOWN
1~100 숫자를 입력하세요 : 65
DOWN
1~100 숫자를 입력하세요 : 60
DOWN
1~100 숫자를 입력하세요 : 55
UP
횟수초과 정답은 58

In [ ]:
num1 = 0
num2 = 0
operation = ''
result = 0
while True:      
    num1 = int(input('숫자1 : '))
    num2 = int(input('숫자2 : '))
    operation = input('연산자 : ')

    
    if operation == '+':
        result = num1+num2
    elif operation == '-':
        result = num1-num2
    elif operation == '*':
        result = num1*num2
    else:
        result = num1/num2
    print(f'{num1} {operation} {num2} = {result}')
    break

In [20]:
price = 0
result=0
while True:      
    price = int(input('가격(만원) : '))
    if price >=10:
        result = price - price*0.1
    if price >=5:
        result = price - price*0.07
    else:
        result = price - price*0.05
    print(f'{result*10000}원')
    break

가격(만원) : 6
55800.0원